* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background-color: #1e1e1e;
    color: #e0e0e0;
    transition: background-color 0.3s, color 0.3s;
    opacity: 1; /* Changed from 0 to 1 */
    transition: fade 0.5s;
    width: 100%;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.hero-header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #1e1e1e;
}

.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo i {
    height: 45px;
    width: 45px;
    background-color: #00a651;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s;
}

.logo i:hover {
    transform: rotate(360deg);
}

.logo .logo-text {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    transition: color 0.3s;
}

.logo .logo-text:hover {
    color: #00a651;
}

nav .togglebtn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

nav .togglebtn span {
    display: block;
    background-color: #00a651;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks {
    list-style-type: none;
}

nav .navlinks li {
    display: inline-block;
}

nav .navlinks li a {
    color: #e5e5e5;
    margin-right: 2.5rem;
    transition: color 0.3s;
}

nav .navlinks li a:hover {
    color: #00a651;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}

.container .hero-pic {
    width: 250px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    border: 8px solid #444;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s;
}

.container .hero-pic:hover {
    transform: scale(1.05);
}

.hero-pic img {
    height: 100%;
    width: 100%;
    transition: none;
}

.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-text h5 {
    color: #e5e5e5;
    font-size: 14px;
    transition: color 0.3s;
}

.hero-text h5 span {
    color: #00a651;
    font-size: 16px;
}

.hero-text h1 {
    color: #00a651;
    font-size: 3rem;
    transition: color 0.3s;
}

.hero-text p {
    color: #e5e5e5;
    transition: color 0.3s;
    margin-top: 10px;
}

.btn-group {
    margin: 45px 0;
}

.btn-group .btn {
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0px;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
    transition: background-color 0.3s, transform 0.3s;
}

.btn-group .btn:hover {
    background-color: #00a651;
    transform: translateY(-5px);
}

.btn.active {
    border-color: #00a651;
}

.hero-text .social i {
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: color 0.5s, transform 0.5s;
}

.hero-text .social i:hover {
    color: #00a651;
    transform: rotate(360deg);
}

/* Contact form styles */
.contact__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.contact__form-container {
    width: 100%;
    max-width: 600px;
    background-color: #2e2e2e;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.contact__input {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #e5e5e5;
    transition: border-color 0.3s;
}

.contact__input::placeholder {
    color: #888;
}

.contact__input:focus {
    border-color: #00a651;
}

.contact__button {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #00a651;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 2.0rem; /* Increased font size */
}

.contact__button:hover {
    background-color: #007a3d;
}

/* Responsive design & displaying navbar for small screen */
@media (max-width: 930px) {
    nav .togglebtn {
        display: initial;
    }

    /* for toggle button */
    .click {
        top: 45px;
    }

    .click span {
        position: absolute;
        margin-top: 12px;
    }

    .click span:first-child {
        transform: rotate(-40deg);
    }

    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }

    .click span:last-child {
        transform: rotate(45deg);
        top: 0;
    }

    nav .navlinks {
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #1e1e1e;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
        padding: 25px 0px;
        overflow-y: auto;
    }

    nav .navlinks li {
        display: block;
    }

    nav .navlinks li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }

    nav .navlinks.open {
        right: 0;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding-top: 2rem;
    }

    .hero-text {
        padding: 40px 0px;
    }
}
